body {
  color: #212121;
  background-color: #bdc3cb;
  /*background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);*/
}
h2, h4 { color: #666; }
a { color: #009bda; }
a:hover, a:visited { color: #006bb7; }

/* extra safeguard - still showing sometimes */
#navigation-primary { display: none !important; }

.banner {
  background-image: radial-gradient(circle at 66% 70%, #009bda, transparent 100%);
  background-color: #006bb7;
}
  .banner h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.125;
    margin-top: 16px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  }
  .banner h2 {
    font-size: 28px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  }
.banner .btn-lg {
  margin-top: 14px;
  background-color: #b5c327;
}

.services-list { margin-bottom: 16px; }
.services-list span {
  display: block;
  color: #006bb7;
  font-size: 24px;
  padding: 12px;
}
#subsidy-tool {
  margin-top: 28px;
}
/* Media query exists in the main stylesheet, would just need to add rules */
@media screen and (max-width:767px) {
  #content-area { padding: 0; }

  ul { padding-left: 20px; }

  .banner h1 {
    font-size: 30px;
    margin-top: 0;
  }
  .banner h2 { font-size: 21px; }
  .banner h2  a { text-decoration: underline; }
}

/* optional */
